body {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Baxter Sans Web'
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar-nav button {
    padding: 1.2rem 0;
}

.navbar-nav .btn-group {
    margin-top: 20px;
    margin-bottom: 10px;
}

.navbar-nav .AccountBtn {
    background-color: white;
    color: #676767;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    border: none;
}

    .navbar-nav .AccountBtn:hover {
        background-color: #DFDFDF;
        font-weight: 900;
    }


.navbar-nav .SignUpbtn {
    background-color: #5A86FF;
    color: white;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    border: none;
    margin-left: 5px;
}

    .navbar-nav .SignUpbtn:hover {
        background-color: #1238A1;
        font-weight: 900;
    }

.navbar-nav .HelpBtn {
    background-color: #000b59;
    color: white;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    border: none;
    margin-left: 15px;
}

    .navbar-nav .HelpBtn:hover {
        background-color: #003366;
        font-weight: 900;
    }


h1 {
    font-size: 76;
    font-weight: 550;
    color: #333333;
}

h2 {
    font-size: 1.5rem;
    font-weight: 550;
}

input {
    text-align: center;
    border-left-color: #676767;
    border-color: #676767;
    width: 100vw;
}

.instruction {
    font-size: 1rem;
}

.JoinQueueBtn {
    font-size: 24px;
    background-color: #5A86FF;
    color: white;
    border-radius: 4px;
    padding: 1rem 2rem;
    border: none;
}

    .JoinQueueBtn:hover {
        background-color: #003366;
        font-weight: 900;
    }