
@{
    ViewBag.Title = "CreateAQueue";
}
<div class="mainContainer">
    <div class="row" style="margin-top: 10vh; font-size: 2rem;">
        <div class="col-lg-6 col-lg-offset-3">
            <h2 class="teachTitle">Create A New Queue</h2>
            <div>
                <form action="" method="post">
                    <div style="margin-top: 4vh;">
                        <label for="labName">Pratical Session Name:</label><br />
                        <input type="text" id="labName" style="width: 75vw;" />
                    </div>

                    <div style="margin-top: 4vh; margin-bottom: 3vh;">
                        <label for="TeamsLink">Link to join Teams Meeting:</label><br />
                        <textarea type="text" id="TeamsLink" rows="6"></textarea>
                    </div>

                    <button class="JoinQueueBtn" type="submit">Create Queue</button>
                </form>
            </div>

        </div>
    </div>
</div>




